<footer class="footer-custom mt-auto">

    <div class="container">

        <div class="row align-items-center gy-3">

            <div class="col-md-6 text-center text-md-start">

                <h5 class="footer-title mb-1">
                    🏨 Hotel Booking
                </h5>

                <small>
                    Réservez votre séjour simplement et rapidement.
                </small>

            </div>

            <div class="col-md-6 text-center text-md-end">

                <small>

                    © {{ "now"|date("Y") }}

                    Hotel Booking

                    • Projet Symfony

                </small>

            </div>

        </div>

    </div>

</footer>