<footer class="bg-dark text-white text-center p-3 mt-5">
    <div class="container">
        <small>
            © {{ "now"|date("Y") }} - Centrale de réservation hôtel
        </small>
    </div>
</footer>