{% extends 'base.html.twig' %}

{% block title %}Modifier la chambre{% endblock %}

{% block body %}

<div class="container">

    <div class="text-center mb-5">

        <h1 class="page-title">

            Modifier la chambre

        </h1>

        <p class="page-subtitle">

            Mettez à jour les informations de cette chambre.

        </p>

    </div>

    {{ include('admin/chambre/_form.html.twig',{
        button_label:'Mettre à jour'
    }) }}

    <div class="text-end mt-3">

        {{ include('admin/chambre/_delete_form.html.twig') }}

    </div>

</div>

{% endblock %}