{% extends 'base.html.twig' %}

{% block title %}New Compte{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Créer un nouveau Compte</h1>

        {{ include('admin/compte/_form.html.twig') }}

        <div class="mt-3">
            <a href="{{ path('app_admin_compte_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <a href="{{ path('app_admin') }}" class="btn btn-secondary">Retour à la page Admin</a>
        </div>
    </div>
{% endblock %}
